# VSCode directories
.vscode/
build/

# Compiled Object files
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.la
*.a

# Executables
*.out

# CMake specific section:
# -----------------------
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
